<div class="card">
  <h3>Add Recipe</h3>
  <form>
    <input type="text" class="form-control" placeholder="Name">
    <input type="text" class="form-control" placeholder="Type: ex: Mediterranean, South Western">
    <input type="text" class="form-control"
      placeholder="The Primay Ingredient: (that means one) ex: Chicken, Tofu, Human">

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Instructions</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
  </form>
  <input class="btn btn-primary" type="submit" value="Submit">
</div>