<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Search by Recipe: </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav routerLinkActive="active">
        <li  ngbNavItem="select">
          <a ngbNavLinkclass class="nav-link" routerLink="select">Name</a>
        </li>
        <li ngbNavItem="select/:type">
          <a gbNavLinkclass class="nav-link" routerLink="select/:type">Type</a>
        </li>
        <li ngbNavItem="select/:ingredient">
            <a gbNavLinkclass class="nav-link" routerLink="select/:ingredient">Primay Ingredient</a>
          </li>
          <li ngbNavItem="select:type/:ingredient">
            <a gbNavLinkclass class="nav-link" routerLink="select:type/:ingredient">Type and Primay Ingredient</a>
          </li>
      </ul>
    </div>
  </nav>