<div class="card">
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" novalidate>
  <h3>Search by Type and Primary Ingredient: </h3>
    <p>
        <label for="type">Type </label>
        <input type="text" id="type" name="type" formControlName="type">
      </p>
      <p>
    <p>
      <label for="primeIngredient">Primary Ingredient </label>
      <input type="text" id="primeIngredient" name="primeIngredient" formControlName="primeIngredient">
    </p>
    <p>
      <input class="btn btn-primary" type="submit" value="Submit">
    </p>
  </form>
  
  <div *ngIf = "show">
      <h1>Recipes</h1>
      <ul *ngFor="let recipeByTIName of (recipeByTINames | async)">
        <li><a [routerLink]="['/recipe', recipeByTIName]">{{recipeByTIName.name}}</a></li>
      </ul>
  </div>
</div>